{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static "network/index.js" %}"></script>
{% endblock script %}

{% block body %}
    TODO
    <button id="test" value="aloha">CLICK</button>

    <form action="{% url 'network:index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Post">
    </form>

    {% for post in posts %}
        <div>
            <a href="{% url 'network:profile_view' username=post.username %}">
                {{ post.username }}
            </a>
            {{ post.title }}
            {{ post.time }}
            <div id="likes_{{post.id}}">
                {{ post.likes }}
            </div>

            {% if post.liked == None %}
                Please log in to like or dislike posts!
            {% else %}
                <button class="like_button" value={{ post.id }}>
                    <div id="like_button_{{post.id}}">
                        {% if post.liked %}
                        UNLIKE
                        {% else %}
                        LIKE
                        {% endif %}
                    </div>
                </button>
            {% endif %}
            <br><br>

            {% comment %} TODO - Fix styling {% endcomment %}
        </div>
    {% endfor %}
{% endblock %}
