{% extends 'network/layout.html' %}
{% load static %}

{% block title %}Profile Page{% endblock title %}

{% block script %}
    <script src="{% static "network/index.js" %}"></script>
    <script src="{% static "network/profile.js" %}"></script>
    <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
{% endblock script %}

{% block body %}
    {% if not user.is_authenticated %}
        <div class="alert alert-warning container1" role="alert">
            You are not logged in! Please log in to create post, like post, and follow other user!
        </div>
    {% elif self %}
        This is yourself
    {% else %}
        <button type="submit" id="follow" data-userid={{ user_id }}>
            {% if followed %}
                Unfollow
            {% else %}
                Follow
            {% endif %}
        </button>
    {% endif %}

    <div class="profile_data">
        <ul>
            <li><b>Username</b>: {{ username }}</li>
            <li><b>Followers</b>: {{ follower }}</li>
            <li><b>Followings</b>: {{ following }}</li>
        </ul>
    </div>

    {% for post in posts %}
        {% include "network/post.html" %}
    {% endfor %}

    <div id="abc"></div>
    <script type="text/babel">
        let x = "{{ following|safe }}"
        console.log(x)
        function App() {
            return (
                <div>
                <h1>API Posts, {x}</h1>
                </div>
            );
        }
        ReactDOM.render(<App />, document.querySelector("#abc"));
    </script>


    <div id="post"></div>
    <script type="text/babel" src="{% static "network/trial.js" %}">

    </script>
{% endblock body %}
